<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/stylesCA.css">
    <title>Create Account</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<div class="container">
    <form class="signup-form" id="signupForm" method="POST" name="signupForm">
        <h1>Create Account</h1>

        <label for="username">Username:</label>
        <input autocomplete="off" type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input autocomplete="off" type="password" id="password" name="password" required>

        <label for="confirm-password">Confirm Password:</label>
        <input autocomplete="off" type="password" id="confirm-password" name="confirm-password" required>

        <p id="create_account_log"></p>

        <button type="submit">Create Account</button>
    </form>
    <br />
    <div id="backToHomeContainer">
        <button id="backToHome" onclick= "backToLogin()">Back to Login</button>
    </div>
</div>

<script>
    document.getElementById("signupForm").addEventListener("submit", function(ev){
            ev.preventDefault();
            var username = document.forms['signupForm'].elements["username"].value;
            var password = document.forms['signupForm'].elements["password"].value;
            var confirm_password = document.forms['signupForm'].elements["confirm-password"].value;
            var data = {"username": username,
                "password": password,
                "confirm_password": confirm_password
            };
            $.ajax({
                type: "POST",
                url: "{{url_for('create_account')}}",
                data: JSON.stringify(data),
                contentType: "application/json",
                dataType: 'json',
                success: function(results){
                    document.getElementById("create_account_log").innerHTML = results['result'];
                    if(results['result'] == 'Password and confirm password do not match!' || results['result'] == 'Username not unique!'){
                        document.getElementById("create_account_log").setAttribute("style", "color: red;");
                    }
                    if(results['result'] == 'Successful account creation'){
                        document.getElementById("create_account_log").setAttribute("style", "color: green;");
                    }
                }
            });
         }, false);

    function backToLogin(){
        window.location.replace("{{url_for('login')}}");
    }
</script>

</body>
</html>
