<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/stylesSIP.css">
    <title>MedClarity - Sign In</title>
</head>
<body>
    <div class="container">
        <div class="home-page" id="homePage">
            <div class="title-container">
                <img src="../static/Images/HealthLogoPhoto.png" alt="Health Hack Logo"width="100" height="100" >
                <h1>MedClarity</h1>
            </div>
            <p>Welcome to MedClarity! You are now signed in.</p>
            <!-- Add home page content here -->
            <a href= "{{ url_for('homepage') }}">Proceed to Home Page</a>
        </div>
    </div>
</body>
</html>
